/* 스크롤 정보 */
.scroll{
    position: fixed;
    display: block;
    font-size: 15px;
    padding:10px 10px 10px 10px;
    background: rgba(0,0,0,0.5);
    color:#fff;
    bottom:0;
    left:0;
    z-index:9999;
}
.scroll p{
    color:#fff;
}



/* main_img */
#main_img{
    width:100vw;
    height:100vh;
    position:relative;
    top:-13vh;
    left:0;
    overflow:hidden;
}
.slide_container{
    width:100%;
    height:400vh;
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
}


.slide1{
    width:100%;
    height:100vh;
    background: url("../img/main.jpg") no-repeat center center;
    background-size: cover;
    position:absolute;
    top:0;
    opacity:0;
}
.slide1.effect{
    animation:slide-img .5s .1s both;
}
.slide1 .main_txt{
    opacity:0;
}
.slide1 .main_txt div{
    text-shadow:0 0px 4px rgba(255,255,255,1);
}
.slide1 .main_txt.effect{
    z-index:99;
    animation:slide-txt .8s .5s both;
}

.slide2{
    width:100%;
    height:100vh;
    background: url("../img/1.jpg") no-repeat center center;
    background-size: cover;
    position:absolute;
    top:100vh;
    opacity:0;
}
.slide2.effect{
    animation:slide-img .5s both;
}
.slide2 .main_txt{
    opacity:0;
}
.slide2 .main_txt div{
    color:#fff;
}
.slide2 .main_txt.effect{
    animation:slide-txt .8s .7s both;
}
.slide2 div .box{
    border:1px solid #fff;
    background-color: rgba(0,0,0,0.4);
}
.slide2 div .box:hover{
    background-color: rgba(255,255,255,0.8);
}
.slide2 div .box:hover a{
    color:#000;
}
.slide2 div .box a{
    color:#fff;
}

.slide3{
    width:100%;
    min-height:100vh;
    background: url("../img/main_2.jpg") no-repeat center center;
    background-size: cover;
    position:absolute;
    top:100vh;
    opacity:0;
}
.slide3.effect{
    animation:slide-img .5s both;
}
.slide3 .main_txt{
    opacity:0;
}
.slide3 .main_txt div{
        text-shadow:0 0px 4px rgba(255,255,255,1);
}
.slide3 .main_txt.effect{
    animation:slide-txt .8s .7s both;
}

.slide4{
    width:100%;
    height:100vh;
    background:url("../img/main_4.jpg");
    background-size: cover;
    position:absolute;
    top:300vh;
    opacity:0;
}
.slide4.effect{
    animation:slide-img .5s both;
}
.slide4 .main_txt{
    opacity:0;
}
.slide4 .main_txt div{
    text-shadow:0 0px 4px rgba(255,255,255,1);
}
.slide4 .main_txt.effect{
    animation:slide-txt .8s .7s both;
}

@keyframes slide-img{
    0%{ opacity:0; top:100vh;}
    20%{ opacity:0; top:25vh; } /* top:25vh; */
    80%{ opacity:.8;}
    100%{ opacity:1; top:0;} /* top:0; */
}


@keyframes slide-txt{
    0%{ opacity:0; transform:translateY(30px);}
    100%{ opacity:1; transform:translateY(0px);}
}

.txt{
    position:absolute;
    bottom:40px;
    left:50%;
    transform:translateX(-50%);
    text-align:center;
    z-index:2;
}


.title{
    font-size:2.7rem;
    margin-bottom:7px;
}
.intro{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:1.6rem;
    margin-bottom:15px;
}
.box{
    border:1px solid #000;
    background-color: rgba(255,255,255,0.4);
    border-radius:5px;
    width:150px;
    height:38px;
    margin:auto;
    cursor:pointer;
    transition:all .3s;
}
.box:hover {
    background: rgba(255,255,255,0.8);
}
.box a{
    display:block;
    font-size:1.4rem;
    line-height:38px;
}

/* 슬라이드 속 버튼 */
.button{
    z-index:999;
    width:20px;
    height:100px;
    position: absolute;
    right:20px;
    top:50%;
}
.button > div{
    top:5px;
    width:15px;
    height:15px;
    border-radius:15px;
    background-color: rgba(0,0,0,0.5);
    margin-bottom:10px;
    box-shadow:0 0 20px 3px rgba(255,255,255,1);
}
.button>div.active{
    background-color: #fff;
    filter:blur(0);
}

/* magazine */
#magazine{
    width:100vw;
    height:87vh;
    position:relative;
    overflow:hidden;
}
#magazine #magazine_in{
    width:100%;
    height:87vh;
    padding:0 6% 0 6%;
    position:absolute;
}
.mag_main{
    float:left;
    border-right:1px solid #000;
    width:26%;
    height:87vh;
}
.mag_main_img img{
    width:75%;
    height:auto;
    margin:30% 6% 20px 0;
    border-radius:5px;
    box-shadow:0 0 10px 3px rgba(0,0,0,0.3);
    transition:all .5s;
}
.mag_main_img:hover img{
    filter:grayscale(1);
}
.mag_main_txt {
    text-align:center;
    width: 75%;
}
.mag_main_t{
    font-size:1.7rem;
    font-weight:800;
}
.mag_main_st{
    margin-top:10px;
    font-size:1.6rem;
    font-weight:500;
}
.mag_main_it{
    margin-top:17px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:1.5rem;
    line-height:22px;
}

/* magazine contents */
.mag_contents{
    width:74%;
    height:100%;
    position:relative;
    float:right;
    overflow-x:hidden;
}
.mag_contents_wrap{
    width:1000px;
    height:100%;
    padding-left:6%;
    display:flex;   
    position: relative; 
}
.mag_contents_in{
    padding-top:20%;
    margin-left:1vw;
}
.mag_contents_in .mag_img .mag_img_box{
    width:13vw;
    height:17vw;
    overflow:hidden;
}
.mag_contents_in img{
    width:100%;
    height:auto;
    transition:all .5s;
}
.mag_contents_in .mag_img .mag_img_box:hover img{
    transform:scale(1.3);
    filter:blur(5px);
}
.mag_in_t{
    display:block;
    font-size:1.6rem;
    margin-top:10px;
    margin-bottom:10px;
    font-weight:500;
}
.mag_in_st{
    font-size:1.4rem;
    font-family: 'Noto Sans KR', sans-serif;
}
